.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 35px;
  margin: 30px 0;
  width: 100%;
  /* margin-left: -10px; */
}

.sliderSkeletonDesktop {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 5px;
  margin: 30px 0;
  width: 103%;
  margin-left: -10px;
}

.sliderSkeletonTab {
  display: none;
}

.sliderSkeletonMobile {
  display: none;
}

.slider {
  left: -10px;
}

.noRecords {
  margin-left: 10px;
  height: 235px;
}

@media only screen and (max-width: 768px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }

  .sliderSkeletonDesktop {
    display: none;
  }

  .sliderSkeletonTab {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 5px;
    margin: 30px 0;
    width: 117%;
    margin-left: -10px;
  }
}

@media only screen and (max-width: 414px) {
  .container {
    grid-template-columns: repeat(1, 1fr);
  }

  .sliderContainer {
    width: 100%;
  }

  .slider {
    width: 100%;
    position: relative;
    left: 0px;
  }

  .sliderSkeletonTab {
    display: none;
  }

  .sliderSkeletonMobile {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 0px;
    margin: 30px 0;
    width: 100%;
    margin-left: -10px;
  }
}
