.arrow {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 35px;
  height: 35px;
  background: #fff;
  color: black;
  border: 0;
  border-radius: 50%;
  box-shadow: 0 1px 3px 0 rgba(30, 41, 61, 0.1),
    0 1px 2px 0 rgba(30, 41, 61, 0.2);
  opacity: 0.9;
  position: absolute;
  z-index: 1;
  cursor: pointer;
  visibility: visible;
  opacity: 1;
  transition: all ease 0.3s;
  top: 50%;
  transform: translateY(-50%);
}

.arrow:hover {
  color: #153074;
}

.next {
  right: 0px;
}

.left {
  left: -8px;
}

@media only screen and (max-width: 414px) {
  .next {
    right: -7px;
  }
}
