.modalContainer {
  position: relative;
}

.modalBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.modal {
  position: absolute;
  background-color: #f9fafb;
  width: 493px;
  height: auto;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 101;
  border-radius: 3px;
  /* padding: 20px; */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.title {
  height: 34px;
  width: 196px;
  margin: 13px 0px 2px 0px;
  font-size: 20px;
}

.closeIcon {
  cursor: pointer;
  color: #c83535;
  font-size: 24px;
}

.closeIcon:hover {
  color: #e65e5e;
  transform: scale(1.1);
}

.line {
  width: 100%;
  height: 1px;
  background-color: #dbdbdb;
}

.form {
  display: flex;
  flex-direction: column;
  margin: 10px 30px;
  text-align: center;
  /* margin-bottom: 25px; */
}

.input,
.textarea {
  margin-bottom: 20px;
  border: 1px solid rgba(146, 146, 146, 0.5);
  outline: none;
  padding: 8px 10px;
  width: 100%;
  height: 40px;
  margin-right: 20px;
  border-radius: 5px;
  background-color: #f3f3f3;
  font-size: 18px;
}

.textarea {
  height: auto;
}

.input:focus {
  border: 1px solid rgb(94, 96, 236);
  box-shadow: 0px 0px 3px rgb(86, 158, 192, 1);
}

.input::placeholder,
.textarea::placeholder {
  color: #585757;
  font-size: 16px;
}

.submitBtn,
.submitBtnOnLoad {
  border: none;
  padding: 10px 15px;
  width: 110px;
  height: 40px;
  color: white;
  font-weight: 600;
  font-size: 15px;
  border-radius: 5px;
  cursor: pointer;
}

.submitBtnOnLoad {
  background-color: grey;
}

.label {
  height: 30px;
  margin: -10px 0 10px 0;
  color: #2e6fba;
  font-size: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.label:hover {
  color: rgb(13, 43, 100);
}

.addIcon {
  font-size: 15px;
  margin-left: 5px;
  margin-top: 1px;
}

.upload {
  height: 0;
  width: 0;
  opacity: 0;
}

.form__span {
  display: flex;
  align-items: center;
  color: #2e6fba;
  cursor: pointer;
}

.form__span > span {
  margin-left: 5px;
}

.form__subcategory {
  display: flex;
  align-items: center;
  position: relative;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 25px 30px;
}

/* Image Open Modal */

.ImageContainer {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 101;
}

.Image {
  max-width: 650px;
  max-height: 400px;
}

.backdrop {
  width: 100vw;
  height: 100vh;
  z-index: 100;
}

.inputWrapper {
  position: relative;
}

.categoryError,
.subCategoryError {
  font-size: 10px;
  position: absolute;
  top: 34%;
  color: red;
  padding-left: 10px;
}

.subCategoryError {
  top: 75%;
}
