.container {
  display: grid;
  grid-template-columns: auto auto auto;
  row-gap: 50px;
  margin: 20px 0;
  width: 100%;
  padding-left: 20px;
}

.slider {
  width: 102%;
  left: -10px;
}

@media only screen and (max-width: 414px) {
  .slider {
    width: 326px;
  }
}
