.container {
  height: 100vh;
  width: 100vw;
  position: relative;
}

.wrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 350px;
  width: 400px;
  align-items: center;
  border-radius: 10px;
  padding: 40px 15px;
  box-shadow: 0 0 8px 1px rgb(194 194 194 / 30%);
}

.header {
  margin: 0 0 30px 0;
  font-size: 40px;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
}

.form {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.input {
  margin-bottom: 25px;
  padding: 10px 15px;
  border-radius: 10px;
  border: 1px solid grey;
  outline: none;
  font-size: 16px;
}

.input:focus {
  border: 1px solid rgb(73, 73, 207);
  box-shadow: 0 0 2px rgb(73, 73, 207);
}

.submit {
  padding: 10px;
  border: none;
  border-radius: 10px;
  margin-top: 15px;
  color: white;
  font-weight: 500;
  outline: none;
  cursor: pointer;
  font-size: 16px;
}

.submit:hover {
  /* background-color: rgb(199, 59, 59); */
  box-shadow: 3px 3px 5px rgba(73, 73, 207, 0.2);
}

@media only screen and (max-width: 414px) {
  .wrapper {
    width: 300px;
    box-shadow: none;
  }

  .header {
    margin: 30px 0;
    font-size: 30px;
  }

  .submit {
    font-size: 16px;
  }
}
