.container {
  position: relative;
  width: 100%;
  margin: auto;
}

.wrapper {
  position: relative;
  width: 90%;
  margin: auto;
}

.name {
  z-index: 10;
  position: relative;
  text-align: center;
  margin: 50px 0;
  pointer-events: none;
}

.title {
  color: rgb(236, 78, 78);
  /* z-index: 10; */
}

.main {
  margin-top: 150px;
}

.imageContainer {
  position: absolute;
  top: -50px;
  width: 100%;
  height: 300px;
  overflow: hidden;
  background-color: white;
}

.image {
  width: inherit;
  opacity: 0.7;
  transition: all 0.2s ease;
}

.imageContainer:hover .image {
  transform: scale(1.1);
}

.modalBackground {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.modal {
  position: absolute;
  background-color: white;
  width: 500px;
  height: 400px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 11;
}

.search {
  border: none;
  padding: 10px 15px;
  width: 300px;
  color: white;
  margin: 190px 0 20px 0;
  position: relative;
}

.mallContainer {
  position: relative;
  /* margin-top: 200px; */
}

.header {
  margin-bottom: 50px;
}

.break {
  margin-top: 200px;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.editBtn {
  border: none;
  padding: 10px 15px;
  width: 150px;
  background-color: rgb(236, 78, 78);
  color: white;
  margin: 40px 0 20px 0;
}

.editBtn:hover {
  background-color: rgb(199, 59, 59);
}

.text {
  margin-left: 7px;
}
