.firstDiv{
    width: 100%;
    bottom: 0;
    position: absolute;
    top: 0;
    background-color: rgb(51, 43, 43,0.8);
    z-index: 1000;
}

.secondDiv{
    width: 50%;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    padding: 2rem;
    z-index: 5;
}

.secondDiv button{
    border-color: transparent;
    margin-top: 2rem;
    background-color: rgb(215, 60, 60);
    border-radius: 10px;
    padding: 1rem 2rem;
    font-weight: 600;
    font-size: 1.2rem;
    cursor: pointer;
}