.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 40px;
  width: 100%;
  margin-top: 20px;
  /* background-color: black; */
}

.wrapper {
  max-width: 280px;
  max-height: 391px;
  overflow: hidden;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  cursor: pointer;
  background: #ffffff;
  margin: 0 10px;
}

.wrapper2 {
  width: auto;
  max-height: 391px;
  overflow: hidden;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  cursor: pointer;
  background: #ffffff;
  margin: 0 10px;
}

.imageContainer {
  position: relative;
  height: 180px;
  overflow: hidden;
  background: rgba(30, 30, 30, 0.27);
}

.closeIcon {
  display: none;
  position: absolute;
  font-size: 30px;
  top: 5px;
  right: 5px;
  z-index: 100;
  color: rgba(207, 46, 24, 0.7);
}

.wrapper:hover .closeIcon,
.wrapper2:hover .closeIcon {
  display: block;
}

.closeIcon:hover {
  color: rgba(207, 46, 24, 1);
}

.image {
  width: 100%;
  height: 200px;
  border-radius: 4px 4px 0 0;
  transition: all 0.15s ease-in;
  object-fit: cover;
}

.wrapper:hover .image,
.wrapper2:hover .image {
  transform: scale(1.1);
  transform-origin: 50% 50%;
}

.wrapper:hover,
.wrapper2:hover {
  background-color: rgb(255, 236, 236);
}

.mallDetail {
  color: #153074;
  padding: 5px 10px;
  line-height: 20px;
}

.title {
  font-size: 16px;
  font-weight: 700;
  height: 25px;
  width: 500px;
}

.midLine {
  margin: 0 5px;
}

.shopDetail {
  color: #153074;
  padding: 5px 10px;
  line-height: 20px;
}

.mallTime {
  font-size: 15px;
}

.shopLoc {
  font-size: 15px;
}

@media only screen and (max-width: 768px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 40px;
    width: 100%;
    margin-top: 30px;
  }

  .wrapper {
    max-width: none;
    width: 190px;
    height: 180px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    cursor: pointer;
    background: #ffffff;
    margin: 0 10px;
  }

  .image {
    width: 100%;
    object-fit: cover;
    height: 226px;
    border-radius: 4px 4px 0 0;
    transition: all 0.15s ease-in;
  }

  .imageContainer {
    height: 130px;
  }

  .mallDetail {
    padding: 4px 5px;
  }

  .title {
    font-size: 14px;
  }

  .mallTime {
    font-size: 12px;
  }
}

@media only screen and (max-width: 414px) {
  .container {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 40px;
    width: 100%;
    margin-top: 30px;
  }

  .wrapper {
    width: 100%;
    margin: 0;
    height: 200px;
  }

  .imageContainer {
    position: relative;
    height: 145px;
    overflow: hidden;
  }

  .mallDetail {
    padding: 5px 10px;
    line-height: 20px;
  }

  .title {
    font-size: 15px;
    font-weight: 700;
    height: 8px;
    width: 500px;
  }

  .midLine {
    margin: 0 5px;
  }

  .mallTime {
    font-size: 12px;
    margin-top: 12px;
  }

  .shopLoc {
    font-size: 15px;
    margin-top: 12px;
  }
}
