@media (max-width: 768px) {
    .navbar {
      height: 55px;
    }
  
    .container {
      width: 88%;
    }
  
    .logo img {
      width: 46px;
      height: 53px;
    }
  
    .logo p {
      font-size: 18px;
      font-weight: bold;
      margin-left: 9px;
    }
  
    .menuList ul li {
      font-size: 15px;
      margin-right: 38px;
    }
  
    .menuList ul li:last-child,
    .menuList ul li:nth-child(4) {
      display: none;
    }
  
    .shopsDropdown {
      top: 55px;
      padding: 20px 35px;
    }
  
    .menuList ul li:nth-of-type(2):hover .shopsDropdown {
      visibility: visible;
      max-height: auto;
      opacity: 1;
    }
  
    .col {
      text-align: left;
      margin-right: 50px;
    }
  
    .col:last-child {
      margin-right: 30px;
    }
  
    .col h3 {
      font-size: 15px;
      font-weight: 700;
      margin-bottom: 30px;
    }
  
    .col ul li {
      display: block;
      text-align: left;
      font-size: 13px;
      font-weight: normal;
      margin-bottom: 18px;
    }
  
    .col ul li::after {
      content: "";
      width: 0;
      height: 2px;
      background: rgba(0, 0, 0, 0.3);
      display: block;
      margin: auto;
      transition: 0.4s;
    }
  
    .col ul li:hover::after {
      content: "";
      width: 100%;
    }
  
    .userImage {
      position: relative;
      background-color: black;
      font-weight: bold;
      width: 30px;
      height: 30px;
      font-size: 18px;
      text-align: center;
      border-radius: 50%;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .user .icon {
      padding-left: 5px;
      font-size: 15px;
      color: rgb(37, 37, 114);
      transition: 0.5s;
    }
  
    .userDropDown {
      top: 65px;
      border-radius: 8px;
    }
  
    .userDropDown ul li .list {
      padding: 18px 24px;
    }
  
    .userDropDown ul li::after {
      height: 1px;
    }
  
    .userDropDown ul li .icons {
      font-size: 21px;
      margin-right: 8px;
    }
  
    .userDropDown ul li {
      font-size: 15px;
    }
  
    .button {
      border: 2px solid #2e6fba;
      font-size: 15px;
      padding: 8px 12px;
    }
  
    .button:hover {
      border: 2px solid #5fa2f0;
      background-color: white;
    }
  }
