.navbar {
  width: 100%;
  height: 68px;
  background-color: #f9f9f9;
  position: fixed;
  z-index: 1000;
}

.container {
  width: 95%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.logo a {
  display: flex;
  align-items: center;
}

.logo img {
  width: 65px;
}

.logo p {
  font-size: 16px;
  font-weight: 700;
  margin-left: 16px;
  color: #5b5b5b;
}

.menuItems {
  display: flex;
  align-items: center;
}

.menuList ul li {
  display: inline;
  margin-right: 40px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  position: relative;
}

li a,
.icon {
  color: #5b5b5b;
}

li a:hover,
.icon:hover {
  color: black;
}

/* .menuList ul {
  display: flex;
} */

.menuList ul li a {
  padding-right: 5px;
  white-space: nowrap;
}

.menuList ul li .icon {
  display: inline;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  user-select: none;
  transition: 0.5s;
}

.shopsDropdown {
  visibility: hidden;
  position: absolute;
  top: 65px;
  background-color: #f9f9f9;
  padding-top: 20px;
  left: 50%;
  transform: translateX(-50%);
  cursor: auto;
  max-height: 0;
  width: 268px;
  height: auto;
  opacity: 0;
  transition: all 0.5s ease-in;
}

.drop {
  background-color: #f9f9f9;
  position: absolute;
  left: 233px;
  margin-top: -43px;
  width: 210px;
  max-width: 250px;
  overflow: hidden;
  /* border: 0.5px solid #c8c8c8;
  border-left: 0; */
  padding: 20px 0px;
  text-align: left;
}

.drop p {
  font-weight: normal;
  padding: 10px 25px;
}

.drop p:hover {
  background-color: #c8c8c8;
}

.hide {
  display: none;
}

.shopsDropdown::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-width: 15px;
  border-style: solid;
  border-color: transparent transparent #f9f9f9 transparent;
  top: -28px;
  left: 50%;
  transform: translateX(-50%);
}

.menuList ul li:nth-of-type(2):hover .shopsDropdown {
  visibility: visible;
  max-height: 500px;
  opacity: 1;
}

.dropDownWrapper {
  flex-direction: column;
}

.empty {
  width: 100px;
}

.col {
  text-align: left;
  /* margin-right: 60px; */
  /* background-color: black; */
  padding: 0px 35px;
}

.col:last-child {
  margin-right: 40px;
}

.col p {
  font-size: 15px;
  font-weight: normal;
}

.col .headerIcon {
  display: none;
}

.hTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 5px;
}

.hTitle:hover {
  color: #425fa9;
}
.hTitle span {
  text-align: left;
  width: 100%;
  display: block;
}

.col ul li {
  display: block;
  text-align: left;
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 20px;
  width: max-content;
  max-width: 100px;
  overflow: hidden;
}

.col ul li::after {
  content: "";
  width: 0;
  height: 2px;
  background: rgba(0, 0, 0, 0.3);
  display: block;
  margin: auto;
  transition: 0.4s;
}

.col ul li:hover::after {
  width: 100%;
}

.user {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.userImage {
  position: relative;
  background-color: black;
  font-weight: bold;
  width: 38px;
  height: 38px;
  text-align: center;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
}

.userImage img {
  width: 40px;
  position: absolute;
}

.user .icon {
  padding-left: 5px;
  font-size: 14px;
  transition: 0.5s;
}

.userDropDown {
  visibility: hidden;
  position: absolute;
  top: 90px;
  background-color: #f9f9f9;
  right: 35px;
  cursor: auto;
  opacity: 0;
  max-height: 0;
  transition: all 0.3s ease-in;
  border-radius: 10px;
}

.userDropDown::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-width: 15px;
  border-style: solid;
  border-color: transparent transparent #f9f9f9 transparent;
  top: -28px;
  right: 22px;
}

.userDropDown ul li .list {
  display: flex;
  padding: 20px 25px;
  position: relative;
  align-items: center;
  cursor: pointer;
  font-size: 14px;
}
.userDropDown ul li:first-child:hover {
  color: red;
}

.userDropDown ul li:last-child {
  background-color: #e8e8e8;
  transition: 0.2s;
  border-radius: 0px 0px 10px 10px;
}

.userDropDown ul li:last-child:hover {
  color: rgb(236, 78, 78);
}

.userDropDown ul li:last-child::after {
  content: "";
  width: 0;
}

.user:hover .userDropDown {
  visibility: visible;
  opacity: 1;
  max-height: 500px;
}

.userDropDown ul li .icons {
  font-size: 20px;
  margin-right: 8px;
}

.button,
.signInBtn {
  color: #2e6fba;
  background-color: white;
  outline: none;
  border: 1.5px solid #2e6fba;
  border-radius: 30px;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  padding: 7px 15px;
  cursor: pointer;
}

.button:hover {
  color: #5fa2f0;
  border: 1.5px solid #5fa2f0;
  background-color: white;
}

.signInBtn {
  display: none;
}

.mobileUser {
  display: none;
}

.burger {
  display: none;
}

.show {
  display: none;
}


/* Responsive */
@media (max-width: 768px) {
  .navbar {
    height: 55px;
  }

  .container {
    width: 88%;
  }

  .logo {
    width: 190px;
  }

  .logo img {
    width: 46px;
    height: 53px;
  }

  .logo p {
    font-size: 16px;
    font-weight: bold;
    margin-left: 9px;
  }

  /* .menuList {
    margin-left: 100px;
  } */

  .menuList ul li {
    font-size: 14px;
    margin-right: 38px;
  }

  .shopsDropdown {
    top: 55px;
  }

  .menuList ul li:nth-of-type(2):hover .shopsDropdown {
    visibility: visible;
    max-height: auto;
    opacity: 1;
  }

  .col {
    text-align: left;
    margin-right: 20px;
  }

  .col:last-child {
    margin-right: 30px;
  }

  .col ul li {
    display: block;
    text-align: left;
    font-size: 14px;
    font-weight: normal;
    /* margin-bottom: 18px; */
  }

  .col ul li::after {
    content: "";
    width: 0;
    height: 2px;
    background: rgba(0, 0, 0, 0.3);
    display: block;
    margin: auto;
    transition: 0.4s;
  }

  .col ul li:hover::after {
    content: "";
    width: 100%;
  }

  .userImage {
    position: relative;
    background-color: black;
    font-weight: bold;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .user .icon {
    padding-left: 5px;
    font-size: 15px;
    transition: 0.5s;
  }

  .userDropDown {
    top: 75px;
    border-radius: 8px;
  }

  .userDropDown ul li .list {
    padding: 18px 24px;
  }

  .userDropDown ul li::after {
    height: 1px;
  }

  .userDropDown ul li .icons {
    font-size: 21px;
    margin-right: 8px;
  }

  .userDropDown ul li {
    font-size: 14px;
  }

  .button {
    border: 2px solid #2e6fba;
    font-size: 14px;
    padding: 8px 12px;
  }

  .button:hover {
    border: 2px solid #5fa2f0;
    background-color: white;
  }

  .logo p {
    display: none;
  }
}

@media (max-width: 414px) {
  .navbar {
    display: none;
  }
}
