@import "scss/abstracts/_variables.scss";
@import "scss/abstracts/_mixins.scss";
$table-row-height: 45px;

.table {
  display: grid;
  font-family: sans-serif;
  font-size: 13px;
  background: #fff;
  &__header,
  &__body-row {
    display: grid;
    grid-auto-flow: column dense;
    grid-template-columns: 50px repeat(2, 1fr);
    padding: 10px;
    height: $table-row-height;
    align-items: center;
  }
  &__header {
    background-color: $table-header-background;
    border-radius: 8px;
    color: $table-header-color;
    font-weight: 600;
  }
  &__body {
    margin-top: 12px;
    color: $table-body-color;
  }
  .table-action {
    svg {
      font-size: 18px;
    }
    &__grp {
      cursor: pointer;
      padding: 0 12px 0 0;
      color: $color-link;
      &:hover {
        color: $color-dark-link;
      }
    }
    &-label {
      padding-left: 5px;
    }
  }
  @include respond(phone) {
    .table-action-label {
      display: none;
    }
  }
  .table-inner-row {
    background-color: #e5e7eb;
    padding: 20px;
    &.fade-in {
      animation-timing-function: linear;

      animation-duration: 1s;
      -webkit-animation-duration: 1s;

      animation-name: fade-in;
      -webkit-animation-name: fade-in;
    }
    &.fade-out {
      animation-timing-function: linear;

      animation-duration: 0.1s;
      -webkit-animation-duration: 0.1s;

      animation-name: fade-out;
      -webkit-animation-name: fade-out;
      animation-fill-mode: forwards;
    }
  }
  .table {
    border-radius: 3px;
  }
  .is-row-expanded {
    background-color: $table-header-background;

    .btn-arrow {
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      transform: rotate(90deg);
    }
  }
  .row-content {
    height: $table-row-height;
    transition: 0.3s all ease-in-out;
    &.is-row-expanded {
      height: Calc(100% - 90px);
    }
  }
  .toggle-icon {
    font-size: 18px;
    cursor: pointer;
  }

  .btn-arrow {
    cursor: pointer;
    font-size: 1.3rem;
    transition: 0.3s ease-in-out;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
