@import "scss/abstracts/_variables.scss";
@import "scss/abstracts/_mixins.scss";
$table-row-height: 45px;

.table {
  display: grid;
  font-family: sans-serif;
  font-size: 13px;
  width: 100%;
  &__header,
  &__body-row {
    display: grid;
    grid-auto-flow: column dense;
    grid-template-columns: 50px 50px 250px;
    padding: 10px;
    height: $table-row-height;
    align-items: center;
    z-index: 100;
  }
  &__header {
    background-color: $table-header-background;
    border-radius: 8px;
    color: $table-header-color;
    font-weight: 600;
    width: 100%;
  }
  &__body {
    margin-top: 12px;
    color: $table-body-color;
  }
  .table-action {
    svg {
      font-size: 18px;
    }
    &__grp {
      cursor: pointer;
      padding: 0 12px 0 0;
      color: $color-link;
      &:hover {
        color: $color-dark-link;
      }
    }
    &-label {
      padding-left: 5px;
    }
  }
  @include respond(phone) {
    .table-action-label {
      display: none;
    }
  }
  .table-inner-row {
    background-color: #e5e7eb;
    //padding: 20px;
    z-index: 1;

    &.fade-in {
      animation: fade-in 1s linear, padding-in 0.1s linear;
      -webkit-animation: fade-in 1s linear, padding-in 0.2s linear;
      padding: 20px;
    }
    &.fade-out {
      animation: fade-in 0.1s linear forwards, padding-out 0.3s linear;
      -webkit-animation: fade-in 0.1s linear forwards, padding-out 0.3s linear;
      padding: 0;
    }
    .table {
      max-height: 0;
      overflow: auto;
      transition: all 0.3s ease;
    }
  }
  .table {
    border-radius: 3px;
  }
  .is-row-expanded {
    background-color: $table-header-background;
    .btn-arrow {
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      transform: rotate(90deg);
    }
    .table-inner-row {
      .table {
        max-height: 300px;
      }
    }
  }
  .row-content {
    max-height: $table-row-height;
    transition: 0.3s all ease-out;
    &.is-row-expanded {
      max-height: 100%;
      transition: 0.3s all ease-in;
    }
  }
  .toggle-icon {
    font-size: 18px;
    cursor: pointer;
  }

  .btn-arrow {
    cursor: pointer;
    font-size: 1.3rem;
    transition: 0.3s ease-in-out;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@keyframes padding-in {
  from {
    padding: 0;
  }
  to {
    padding: 20px;
  }
}

@keyframes padding-out {
  from {
    padding: 20px;
  }
  to {
    padding: 0;
  }
}

@media only screen and (max-width: 414px) {
  .table {
    width: 100%;
    overflow: hidden;
    &__body {
      margin-top: 12px;
      color: $table-body-color;
      // width: 10%;
      // overflow: hidden;
    }

    &__body-row {
      padding: 0px;
      grid-template-columns: 50px 50px 220px;
    }

    .table-inner-row {
      width: 100%;
      overflow: hidden;
    }

    &__header {
      width: 100%;
    }

    .table {
      width: 100%;
    }
  }

  .table-action {
    width: 40%;
  }

  .row-content {
    width: 85%;
    &.is-row-expanded {
      width: 85%;
    }
  }

  .table .is-row-expanded .table-inner-row .table {
    overflow: hidden;
  }
}

@media only screen and (max-width: 376px) {
  .table {
    width: 100%;
    overflow: hidden;
    &__body {
      margin-top: 12px;
      color: $table-body-color;
      // width: 10%;
      // overflow: hidden;
    }

    &__body-row {
      padding: 0px;
      grid-template-columns: 50px 50px 220px;
    }

    .table-inner-row {
      width: 100%;
      overflow: hidden;
    }

    &__header {
      width: 100%;
    }

    .table {
      width: 100%;
    }
  }

  .table-action {
    width: 0%;
  }

  .row-content {
    width: 78%;
    &.is-row-expanded {
      width: 78%;
    }
  }

  .table .is-row-expanded .table-inner-row .table {
    overflow: hidden;
  }
}
