.timingsform {
  padding: 10px 0;
}

.input__radio {
  display: flex;
  justify-content: space-between;
  width: 25%;
  margin: 10px 2px;
}

.input__radio label {
  margin-left: 5px;
}

.button__showmore {
  text-align: left;
  color: #2e6fba;
  cursor: pointer;
  margin: 10px 0;
}

.error {
  color: red;
  font-size: 13px;
}

@media only screen and (max-width: 1024px) {
  .input__radio {
    width: 30%;
  }
}

@media only screen and (max-width: 768px) {
  .timingsform {
    padding: 0px 0;
  }

  .input__radio {
    width: 40%;
  }
}

@media only screen and (max-width: 414px) {
  .timingsform {
    padding: 0px 0;
  }

  .input__radio {
    width: 100%;
  }

  .input__radio div {
    margin-bottom: 3px;
  }
}
